#label {
    -fx-font-size: 30px;
    -fx-text-fill:red;
}
.button
 {
    -fx-background-color: transparent;
 }
.button:pressed
{
  -fx-background-color: brown;
}

#pane{
-fx-background-image:url('grid_bg.png');
}